:root {
    --grid-cols: 1;
    --grid-rows: 1;
}


#wrapper {
    display: flex;
    justify-content: center;
}


#container {
    display: inline-grid;
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-cols), 1fr);
}

.grid-unit {
    border: black solid .4px;
    padding: 15px;
    display: flex;
}

#button {
    margin: 1em;
}
